*, ::after, ::before{
  box-sizing: border-box;
}
.row, .col{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  width: 100%;
  display: flex;
}
/**************************************HEADER****************************************/
header {
  height: 42vw;
  display: block;
  background-image: url(../assets/backgroundHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  padding: 3vw 0 0 3vw;
  width: 180px;
  height: 30px;
  margin-bottom: 4vw;
}
.title {
  margin: 0;
  width: 100%;
  display: flex;
  color: #FFD15B;
  font-family: 'anton', sans-serif;
  font-size: 44px;
  padding-bottom: 1vw;
  justify-content: center;
}

.searchbar {
  display: flex;
  margin: 0;
  margin-inline: auto;
  margin-top: 1vw;
  padding-inline-start: 1vw;
  border-radius: 1vw;
  height: 5vw;
  width: 68%;
  background-color: white;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
}
.containLoupe {
  display: contents;
  width: 1%;
  padding: 0;
}
.loupe {
  background-color: white;
  border-radius: 1vw;
  color: inherit;
  width: 5vw;
  height: 5vw;
}
.saisie {
  padding: 0;
  font-size: 22px;
  width: 92%;
  border: 0;
  outline: none;
  border-radius: 0.7vw;
  height: 16px;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding-bottom: 3px;
  padding-inline-start: 2px;
}
.msgInfo {
  margin-inline-start: 17vw;
  color: white;
  padding-top: 2px;
  font-size: 18px;
}

/***********************************************************/
main {
  top: -2vw;
  position: relative;
  padding-top: 1.7vw;
  height: auto;
  background-color: #E5E5E5;
}
/*************************TAGS**********************************/
.ligneTags {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.7vw;
  height: auto;
  align-items: center;
}
.nbRecettes {
  font-weight: 400;
  font-family: anton;
  padding-inline-end: 2vw;
  font-size: 21px;
  margin-bottom: auto;
  margin-top: 1.7vw;
}
.accordion-header:hover, .accordion-header:focus, #accordionExample, .accordion-header {
  border-color: transparent;
  box-shadow: none;
}
.optionsFiltre {
  display: flex;
  gap: 1vw;
  width: 66vw;
  height: auto;
  margin-top: 1vw;
  margin-inline-start: 2vw;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.accordion-button {
  padding-inline: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 16px;
  width: 14vw;
  min-width: 150px;
  min-height: 25px;
  height: 4vw;
  border-radius: 1vw;
}
.accordion-button::after{
  background-size: 8px;
  height: 6px;
  width: 13px;
}
.accordion-button:focus {
  border-color: inherit;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
#Ingredient, #Appareils, #Ustensils {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0;
  font-family: 'Manrope', sans-serif;
  padding-inline: 0;
  min-width: 150px;
  min-height: 25px;
  height: auto;
  align-items: center;
  background-color: transparent;
}
.msgInfoInput {
  padding-inline: 0;
  font-size: 2vw;
  font-weight: 500;
}
#btnCollapseOne {
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
} 
#btnCollapseThree {
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
#collapseOne, #collapseTwo, #collapseThree {
  width: 14vw;
  min-width: 150px;
  height: auto;
  padding-top: 2vw;
  background-color: white;
  top: -1vw;
  position: relative;
  z-index: 0;
}
#contentIngredients, #contentAppareils, #contentUstensils {
  height: auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
.searchbarTags {
  display: flex;
  margin: 0;
  border-radius: 1vw;
  border: 1px solid #C6C6C6;
  min-height: 25px;
  height: 3vw;
  width: 85%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
#searchIngredient, #searchAppareils, #searchUstensils {
  padding: 0 0 0 5px;
  font-size: 14px;
  width: 82%;
  border: 0;
  outline: none;
}
.loupeTag {
  width: 15px;
  height: 15px;
}
.choiceProperties {
  display: flex;
  list-style: none;
  padding: 0;
  width: 99%;
  font-size: 14px;
  margin: 0;
  padding-inline-start: 1vw;
  margin-top: 1vw;
  flex-direction: column;
  overflow: scroll;
  height: 12vw;
  min-height: 106px;
  align-items: flex-start;
}
.valueListe {
  width: 100%;
}
.valueListe:hover{
  background-color: #FFD15B;
  width: 100%;
}
.elementSelected {
  width: 14vw;
  min-width: 150px;
  height: auto;
  margin-bottom: 10px;
}
.listElementSelectedOfIngredient, .listElementSelectedOfAppareils, .listElementSelectedOfUstensils {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 14px;
  gap: 1vw;
  margin: 0;
  margin-top: 1vw;
  flex-direction: column;
  position: relative;
  height: auto;
}
.tagSelected {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1vw;
  padding-inline-start: 1vw;
  min-height: 25px;
  height: 4vw;
}
.close {
  background-image: url(../assets/close_x.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-inline-end: 1vw;
  margin-inline-start: auto;
}
/************************************Card Recette**********************************/

.carteRecette {
  display: flex;
  gap: 2%;
  width: 90%;
  margin-inline: auto;
  justify-content: center;
}
.cardRecette {
  margin-top: 0;
  height: auto;
  width: 32%;
  min-width: 240px;
  padding-inline: 0;
  border-radius: 2vw;
  margin-bottom: 1.7vw;
}
.imgRecette {
  height: 253px;
  object-fit: cover;
  border-radius: 2vw 2vw 0 0;
}
.nameRecette {
  font-family: 'Anton';
  font-size: 18px;
  font-weight: 400;
  margin: 0.7vw 0 1.4vw 0;
}
.titreInfo {
  font-family: 'Manrope';
  font-size: 12px;
  font-weight: 700;
}
#titreInfo {
  color: #7A7A7A;
}
.infoDetail {
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.contenuDetail {
  display: flex;
  gap: 0.8vw;
  justify-content: space-between;
}
.alimentQty {
  margin-top: 0.7vw;
  padding-inline: 0;
  border: none;
  width: 48%;
}
.aliment {
  margin: 0;
font-family: 'Manrope';
font-weight: 500;
font-size: 14px;
color: #1B1B1B;
}
.quantite {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  color: #7A7A7A;
}
.duree {
  position: absolute;
  top: 18px;
  right: 1vw;
  border-radius: 2vw;
  background-color: #FFD15B;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  font-family: 'Manrope';
  font-weight: 400;
}
.messageErreur {
  font-size: 12px;
  width: 100%;
  font-family: 'Manrope';
  font-weight: 500;
  color: red;
  margin-bottom: 5vw;
  padding-top: 3vw;
  padding-inline: 4vw;
}
@media (max-width: 425px) {
  .title {
    font-size: 17px;
  }
  .msgInfo {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: fit-content;
    font-size: 10px;
  }
  .msgInfoInput {
    font-size: 10px;
  }
  .saisie {
    font-size: 14px;
  }
  .cardRecette {
    width: 80%;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .msgInfo, .msgInfoInput {
    font-size: 12px;
  }
  .saisie {
    font-size: 18px;
  }
  .ligneTags {
    flex-direction: column-reverse;
  }
  .optionsFiltre {
    flex-direction: column;
    width: max-content;
    margin-inline: auto;
  }
  .accordion-button, #collapseOne, #collapseTwo, #collapseThree, .elementSelected {
    min-width: 130px;
  }
  #Ingredient, #Appareils, #Ustensils {
    flex-direction: row;
    gap: 1vw;
    align-items: flex-start
  }
  #collapseOne, #collapseTwo, #collapseThree {
    top: 0;
    border-radius: 10px
  }
  .listElementSelectedOfIngredient, .listElementSelectedOfAppareils, .listElementSelectedOfUstensils {
    margin-top: 0;
  }
  .cardRecette {
    width: 60%;
  }
}
@media (max-width: 768px) {
  header {
    height: 44vw;
  }
  
}
@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 30px;
  }
  .cardRecette {
    width: 40%;
  }
}