*, ::after, ::before{
  box-sizing: border-box;
}
.row, .col{
  margin: 0;
  padding: 0;
}

header {
  height: 47vw;
    display: block;
    background-image: url(../assets/backgroundHeader.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.logo {
  padding: 5vw 0 0 5vw;
    width: 34vw;
    height: 8vw;
    margin-bottom: 8vw;
}
.title {
  margin: 0;
    width: 100%;
    display: flex;
    color: #FFD15B;
    font-family: 'anton', sans-serif;
    font-size: 4vw;
    padding-bottom: 1vw;
    justify-content: center;
}
.searchbar {
  display: flex;
    margin: 0;
    margin-inline: auto;
    margin-top: 1vw;
    padding-inline-start: 1vw;
    border-radius: 1vw;
    height: 5vw;
    width: 74%;
    background-color: white;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
}
.containLoupe {
  display: contents;
    width: 1%;
    padding: 0;
}
.loupe {
  background-color: white;
    border-radius: 1vw;
    color: inherit;
    width: 5vw;
    height: 5vw;
}

.saisie {
  padding: 0;
    font-size: 3vw;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 10px;
    height: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/***********************************************************/
main {
  top: -9px;
    position: relative;
    padding-top: 24px;
    background-color: #E5E5E5;
}
.optionsFiltre, .displayOptionFiltre {
  display: flex;
    gap: 5%;
    width: 60%;
    height: 60px;
    align-items: center;
}
.option {
  font-family: 'manrope', sans-serif;
  font-size: 16px;
  display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 1vw;
    height: 50px;
    align-items: center;
    border: none;
}