*, ::after, ::before{
  box-sizing: border-box;
}
.row, .col{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  width: 100%;
  display: flex;
}
/**************************************HEADER****************************************/
header {
  height: 47vw;
  display: block;
  background-image: url(../assets/backgroundHeader.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  padding: 5vw 0 0 5vw;
  width: 34vw;
  height: 8vw;
  margin-bottom: 8vw;
}
.title {
  margin: 0;
  width: 100%;
  display: flex;
  color: #FFD15B;
  font-family: 'anton', sans-serif;
  font-size: 4vw;
  padding-bottom: 1vw;
  justify-content: center;
}
.searchbar {
  display: flex;
  margin: 0;
  margin-inline: auto;
  margin-top: 1vw;
  padding-inline-start: 1vw;
  border-radius: 1vw;
  height: 5vw;
  width: 74%;
  background-color: white;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
}
.containLoupe {
  display: contents;
  width: 1%;
  padding: 0;
}
.loupe {
  background-color: white;
  border-radius: 1vw;
  color: inherit;
  width: 5vw;
  height: 5vw;
}
.saisie {
  padding: 0;
  font-size: 3vw;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 0.7vw;
  height: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
/***********************************************************/
main {
  top: -2vw;
  position: relative;
  padding-top: 1.7vw;
  height: auto;
  background-color: #E5E5E5;
}
/*************************TAGS**********************************/
.ligneTags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7vw;
  height: auto;
  align-items: center;
}
.nbRecettes {
  font-weight: 400;
  font-family: anton;
  padding-inline-end: 2vw;
  font-size: 3vw;
  margin-bottom: auto;
  margin-top: 1.7vw;
}
.accordion-header:hover, .accordion-header:focus, #accordionExample, .accordion-header {
  border-color: transparent;
  box-shadow: none;
}
.optionsFiltre {
  display: flex;
  gap: 8%;
  width: 63vw;
  height: auto;
  margin-top: 1vw;
  margin-inline-start: 6vw;
  justify-content: space-around;
  align-items: flex-start;
  
}
.accordion-button {
  padding-inline: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  width: 21vw;
  height: 6vw;
  border-radius: 1vw;
}
.accordion-button::after{
  background-size: 3vw;
  height: 3vw;
  width: 3vw;
}
.accordion-button:focus {
  border-color: inherit;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
#Ingredient, #Appareils, #Ustensils {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0;
  font-family: 'manrope', sans-serif;
  padding-inline: 0;
  width: 23%;
  height: auto;
  align-items: center;
  background-color: transparent;
}
#collapseOne, #collapseTwo, #collapseThree {
  width: 21vw;
  height: auto;
  padding-top: 2vw;
  background-color: white;
  top: -1vw;
  position: relative;
  z-index: 0;
}
#contentIngredients, #contentAppareils, #contentUstensils {
  height: auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
.searchbarTags {
  display: flex;
  margin: 0;
  border-radius: 1vw;
  border: 1px solid #C6C6C6;
  height: 5vw;
  width: 85%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
#searchIngredient, #searchAppareils, #searchUstensils {
  padding: 0;
  font-size: 2vw;
  width: 82%;
  border: 0;
  outline: none;
}
.loupeTag {
  width: 3vw;
  height: 3vw;
}
.choiceProperties {
  display: flex;
  list-style: none;
  padding: 0;
  width: 99%;
  font-size: 2vw;
  margin: 0;
  padding-inline-start: 1vw;
  margin-top: 1vw;
  flex-direction: column;
  overflow: scroll;
  height: 12vw;
  align-items: flex-start;
}
.valueListe {
  width: 100%;
}
.valueListe:hover{
  background-color: #FFD15B;
  width: 100%;
}
.elementSelected {
  width: 143%;
  height: auto;
}
.listElementSelectedOfIngredient, .listElementSelectedOfAppareils, .listElementSelectedOfUstensils {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  font-size: 2vw;
  gap: 1vw;
  margin: 0;
  margin-top: 1vw;
  flex-direction: column;
  position: relative;
  height: auto;
}
.tagSelected {
  width: 100%;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1vw;
}
.close {
  background-image: url(../assets/close_x.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}
/************************************Card Recette**********************************/

.carteRecette {
  display: flex;
  gap: 2%;
  width: 90%;
  margin-inline: auto;
}
.cardRecette {
  margin-top: 0;
  width: 32%;
  padding-inline: 0;
  border-radius: 2vw;
  margin-bottom: 1.7vw;
}
.imgRecette {
  height: 18vw;
  object-fit: cover;
  border-radius: 2vw 2vw 0 0;
}
.nameRecette {
  font-family: 'Anton';
  font-size: 2vw;
  font-weight: 400;
  margin: 0.7vw 0 1.4vw 0;
}
.titreInfo {
  font-family: 'Manrope';
  font-size: 0.8vw;
  font-weight: 700;
}
#titreInfo {
  color: #7A7A7A;
}
.infoDetail {
  font-family: 'Manrope';
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 1.4vw;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.contenuDetail {
  display: flex;
  gap: 0.8vw;
  justify-content: space-between;
}
.alimentQty {
  margin-top: 0.7vw;
  padding-inline: 0;
  border: none;
  width: auto;
  min-width: 10.2vw;
}
.aliment {
  margin: 0;
font-family: 'Manrope';
font-weight: 500;
font-size: 1vw;
color: #1B1B1B;
}
.quantite {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 1vw;
  color: #7A7A7A;
}
.duree {
  position: absolute;
  top: 2vw;
  right: 1vw;
  border-radius: 2vw;
  background-color: #FFD15B;
  width: 5vw;
  height: 2vw;
  text-align: center;
  font-size: 0.8vw;
  line-height: 2vw;
  font-family: 'Manrope';
  font-weight: 400;
}
.messageErreur {
  font-size: 2vw;
  width: max-content;
  font-family: 'Manrope';
  font-weight: 500;
  color: red;
  margin-bottom: 12vw;
  padding-top: 5vw;
  padding-inline: 0;
}